#viewType, #myName{display:none}
/* common */
header{clear:both;float:left;width:100%;background:rgba(85,191,247,0.7)}
#loginForm from{float:left;width:100%}
/* mobile */
@media screen and (min-width:0px) and (max-width:1199px) {
    #myService{float:left;color:#fff;width:100%;font-size:2rem;text-align:center;margin-bottom:1rem;}
}